html{
    font-family: 'Oxygen', sans-serif;    
}

html, 
body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

a {
	color: black;
}

#nav{ 
    background-color:#262626;
    color:white;
    height:100%;
    display:flex;
    float:left;
    width:10%;
    flex-direction:column;
    opacity: 0.5;
}

/*#nav {
	background-image: url("https://i.pinimg.com/originals/71/c1/bd/71c1bd9c8e5b8ce0d7042bb1327e3b52.jpg");
	height: 100%;
	background-position: center;
	background-repeat: repeat;
	background-size: cover; 
}*/


.options{
    cursor:pointer;   
}

.contactimgs{
    cursor:pointer; 
    height:20px;
    margin:10px;
}

#contactbox{
    display:flex;
    justify-content:center;
}

#github{
    width:40px;
    height:40px;
    cursor:pointer;
    margin-bottom:0px;
    position:fixed;
    bottom:5px;
    left:5px;
}

#option0{
    background-color:black;    
}

#aboutmepage{
    width:90%;
    display:flex;
}

#pos{
    margin:20px;
    width:14vw;
	height:16vw;
}

#abtmeblurb{
    margin:20px;   
    font-size:18px;
}

#myworkpage{
    text-align:center;
    width:90%;
    display:flex;
    flex-direction:column;
}

#myworkcontent{
    margin:20px;
}

select{
    width:502px;
    text-align:center;
    border:black 1px solid;
}


option{
    text-align:center;
}

#sampleimgbox{
    margin:10px;    
}

#sampleimg{
    cursor:pointer;
    height:300px;
    width:500px;
    border:black 2px solid;
}

#description{
    margin-top:5px;
}

#contactpage{
    display:flex;
    flex-direction:column;
}

#contactcontent{
    margin:20px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}