html{
    color:white;
    background-color:#24478f;
    font-family: 'Raleway', sans-serif;
}

html, 
body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

html{
    overflow-y:hidden;
}

#header{
    background-color:#24478f;
    opacity:1;
    margin:0;
    padding:0;
    width:100%;
}

h2{
    text-align:left;    
    margin-left:10px;
}

#textcursor{
    animation: blink 1s linear infinite;
    
}

@keyframes blink{
    50%{
        opacity:0;    
    }
}

.menuiconcontainer{
    display:inline;
    cursor:pointer;
    top:10px;
    position:fixed;
    right:10px;
}

.bar1,
.bar2,
.bar3{
    width:30px;
    height:4px;
    background-color:white;
    margin:6px 0;
    transition:0.4s;
    opacity:1;
}

.change .bar1{
   -webkit-transform:rotate(-45deg) translate(-8px, 5px);
   transform:rotate(-45deg) translate(-8px, 5px);
}

.change .bar2{
    opacity:0;
}

.change .bar3{
    -webkit-transform:rotate(45deg) translate(-8px, -8px);
   transform:rotate(45deg) translate(-8px, -8px);    
}

/*
#nav{
    right:0;
    top:0;
    margin:0;
    width:100%;
    top:70px;
}
*/

.nav{   
    text-align:center;
}

.pageImgs{
    width:30px;
    height:30px;
}

.links{
    color:white;  
    margin:30px;
}

.links:hover{
    cursor:pointer;    
}

#homeImg{
    border-bottom:2px solid white;
}

.content{
    /*background-color:grey;
    opacity:0.3;*/
    height:100%;
    width:100%;
}

#footer{
    position:fixed;
    bottom:0;
    display:flex;
    width:100%;
    justify-content:center;
    background-color:#24478f;
    height:3%;
}

#icons8Text{
    color:white;
    float:left;
    position:fixed;
    left:0;
    bottom:0;
    font-size:10px;
}

.linkImgs{
    margin:10px;
    margin-bottom:0;
    margin-top:0;
    width:20px;
    height:100%;
    cursor:pointer;
}

