html{
    color:white;
    background-color:#24478f;
    font-family: 'Raleway', sans-serif;
}

#header{
    background-color:#24478f;
    opacity:1;
    margin:0;
    padding:0;
    width:100%;
}

h2{
    text-align:left;    
    margin-left:10px;
}

#textcursor{
    animation: blink 1s linear infinite;
    
}

@keyframes blink{
    50%{
        opacity:0;    
    }
}

.menuiconcontainer{
    display:inline;
    cursor:pointer;
    top:10px;
    position:fixed;
    right:10px;
}

.nav{   
    text-align:center;
}

.pageImgs{
    width:30px;
    height:30px;
}

.links{
    color:white;  
    margin:30px;
}

.links:hover{
    cursor:pointer;    
}

/*#homeImg{
    border-bottom:2px solid white;
}*/

.content{
    height:100%;
    width:100%;
    text-align:center;
}

.homeContent{
   margin-top:200px;
    display:flex;
    flex-wrap:wrap;
}

.homeContent > h1{
    width:100%;
}

.homeContent > h3{
    width:100%;
}


#imgbox{
    display:flex;
    justify-content:center;
}

#selfphoto{
    width:14vw;
	height:16vw;
    margin-top:60px;
}

#blurb{
    text-align:center;
    margin-right:100px;
    margin-left:100px;
    margin-bottom:100px;
    margin-top:40px;
    flex-wrap:wrap;
}

a{
    color:white;
}

.selectProject{
    text-align:center;
    outline:none;
    cursor:pointer;
}

option{
    cursor:pointer;
    outline:none;
    box-shadow:none;
}

.samples{
    margin:10px;
}

#sampleImg{
    width:500px;
    height:290px;
}

.sampleBlurb{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:20px;
}

#footer{
    position:fixed;
    bottom:0;
    display:flex;
    width:100%;
    justify-content:center;
    background-color:#24478f;
    height:3%;
}

#icons8Text{
    color:white;
    float:left;
    position:fixed;
    left:0;
    bottom:0;
    font-size:10px;
}

.linkImgs{
    margin:10px;
    margin-bottom:0;
    margin-top:0;
    width:20px;
    height:20px;
    cursor:pointer;
}