body,
html {
	height: 100%;
	font-family: 'Tajawal', sans-serif;
}

body {
	background-image: url("http://freedesignfile.com/upload/2015/11/Red-brick-wall-backgrounds-vectors-02.jpg");
	height: 100%;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

#all {
	display: flex;
	justify-content: center;
}

.layout {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#wallet {
	display: flex;
	justify-content: center;
	margin-top:10px;
}

#plus1usd{
    float:right;   
}

button{
    cursor:pointer;   
    background-color:lightgrey;
    border:grey;
    height:21.6px;
}

button:focus {
    outline: none;
}

.container {
	border: 5px solid black;
	padding: 10px;
	margin-bottom: 5px;
	background-color: white;
	background-color: darkgrey;
	margin:0px;
}

img{
	height:100px;
	width:100px;
}

#water{
	width:50px;
}

#head {
	text-align: center;
}

#vm{
	display: flex;
	justify-content: center;
	border: none;
	background-color:darkgrey;
	padding:0px;
}

#vm2{
    display: flex;
    justify-content: center;
	border: none;
	background-color:darkgrey;
	padding:0px;
}

.imgs {
	width: 100px;
	cursor:pointer;
	margin:10px;
}

#pretzels{
	margin-right:20px;
	margin-left: 20px
}

#alert{
 background-color:red;
 color:white;
}

#item{
	background-color: lightgrey;
	border:lightgrey 1px solid;
}

#buy{
	margin-left:22px;
}